{% extends "base.html" %}
{% load static %}

{% block head %}
<script>
    var stockData = [];
</script>
{% for stock in stocks %}
    {% if forloop.first %}
        var tickerOptions = '<option value="{{ stock.ticker }}">{{ stock.ticker }}</option>';
    {% else %}
        tickerOptions += '<option value="{{ stock.ticker }}">{{ stock.ticker }}</option>';
    {% endif %}
    stockData.push([
        '{{ stock.ticker }}',
        '{{ stock.date }}',
        {{ stock.daily_open }},
        {{ stock.daily_high }},
        {{ stock.daily_low }},
        {{ stock.daily_close }}
    ]);
{% endfor %}
</script>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="tickerSelect" class="form-label">Select Ticker:</label>
            <select class="form-select" id="tickerSelect" onchange="updateChart()">
                {{ tickerOptions | safe }}
            </select>
        </div>
    </div>
    <div style="width: 1000px; height: 500px;" id="container" class="container"></div>
</div>

<script>
    var selectedTicker = document.getElementById('tickerSelect').value;

    function updateChart() {
        selectedTicker = document.getElementById('tickerSelect').value;
        var filteredData = stockData.filter(function(stock) {
            return stock[0] === selectedTicker;
        });
        drawChart(filteredData);
    }

    function drawChart(data) {
        var dataTable = anychart.data.table();
        dataTable.addData(data);

        var mapping = dataTable.mapAs({
            open: 2,
            high: 3,
            low: 4,
            close: 5
        });

        var chart = anychart.stock();
        var plot = chart.plot(0);

        plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);

        var series = plot.candlestick(mapping)
            .name(selectedTicker);
        series.legendItem().iconType('rising-falling');

        chart.scroller().candlestick(mapping);

        chart.selectRange('2020-11-27', '2021-11-26');

        var rangePicker = anychart.ui.rangePicker();
        rangePicker.render(chart);

        var rangeSelector = anychart.ui.rangeSelector();
        rangeSelector.render(chart);

        chart.title(selectedTicker + ' Stock Chart');
        chart.container('container');
        chart.draw();
    }

    drawChart(stockData);
</script>

{% endblock body %}