{% extends "base.html" %}
{% load static %}

{% block body %}

<!-- Recent Sales -->
<div class="col-12">
  <div class="card recent-sales overflow-auto">
    <div class="filter">
      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Filter</h6>
        </li>

        <li><a class="dropdown-item" href="#">Today</a></li>
        <li><a class="dropdown-item" href="#">This Month</a></li>
        <li><a class="dropdown-item" href="#">This Year</a></li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">Recent Sales <span>| Today</span></h5>

      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks|slice:":50" %}
          <tr>
            <th scope="row"><a href="#" class="text-primary">{{ stock.ticker }}</a></th>
            <td>{{ stock.date }}</td>
            <td>{{ stock.daily_open }}</td>
            <td>{{ stock.daily_high }}</td>
            <td>{{ stock.daily_low }}</td>
            <td>{{ stock.daily_close }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div><!-- End Recent Sales -->

{% endblock body %}